db.sqlite3
TODO.py
.pyc
media
book_reviews/__pycache__/
book_reviews/auth_user/migrations/__pycache__/
book_reviews/auth_user/templatetags/__pycache__/
book_reviews/review/__pycache__/
book_reviews/review/migrations/__pycache__/
book_reviews/auth_user/__pycache__/
*__pycache__*
staticfiles
