{% load static %}
{% load user_profile %}
{% user_profile as user_profile %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Reviews</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
</head>
<body>
<nav>
    <ul class="navbar">
        <li class="nav_li"><a href="{% url 'home' %}">Home</a></li>
        <li class="nav_li"><a href="{% url 'all_reviews' %}">All Reviews</a></li>
        {% if request.user.is_authenticated %}
            <li class="nav_li"><a href="#">My Reviews</a></li>
            <li class="nav_li"><a href="{% url 'create_review' %}">Add Review</a></li>
            <li class="right nav_li"><a href="{% url 'logout' %}">Logout</a></li>
            <li class="right nav_li"><a href="{% url 'detail_user' user_profile.id %}">Profile</a></li>
            <li class="right nav li"><p class="banner-text">Hello, {{ user_profile.first_name }}</p></li>
        {% else %}
            <li class="right nav_li"><a href="{% url 'login' %}">Login</a></li>
            <li class="right nav_li"><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
</nav>

{% block content %}
{% endblock %}
</body>
</html>