{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div>
        <h3>Recently Added</h3>
        <ul class="list">
            {% for element in recently_added.all %}
                <div class="review-card container">
                    <img class="image" src="{{ element.cover.url }}" alt="" width="200" height="200">
                    <a href="{% url 'details_review' element.id %}" class="card-paragraph">Details</a>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
