{% extends 'base/base.html' %}
{% load ratings %}

{% block content %}
    <div>
        <ul class="list">
            {% for element in object_list.all %}
                <a class="review-card container" href="{% url 'details_review' element.id %}">
                    <img class="image" src="{{ element.cover.url }}" alt="" width="200" height="200">
                    <p>Reviewed By: {{ element.reviewed_by }}</p>
                    <p>Reviewed On: {{ element.reviewed_on }}</p>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}