{% extends 'base/base.html' %}

{% block content %}
    <div class="form_div">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Title:</label>
            {{ form.title }}
            <label>Review:</label>
            {{ form.review }}
            <label>Cover:</label>
            {{ form.cover }}
            <label>Category:</label>
            {{ form.category }}
            {{ form.errors }}
            <button>Create Review</button>
        </form>
    </div>
{% endblock %}
