{% extends 'base/base.html' %}

{% block content %}
    <div class="form_div">
        <img src="{{ object.cover }}" alt="" width="500" height="500">
        <h2>{{ object.title }}</h2>
        <p>{{ object.review }}</p>

        {% if is_owner %}
            <div>
                <a href="{% url 'edit_review' object.id %}">
                    <button class="button">Edit</button>
                </a>
                <a href="{% url 'delete_review' object.id %}">
                    <button class="button">Delete</button>
                </a>
            </div>
        {% endif %}
        {% if comments %}
            <h2>Comments:</h2>
            {% for comment in comments %}
                <div class="comment">
                    <h3>{{ comment.commented_by }}</h3>
                    <p>{{ comment.content }}</p>
                    {% if profile == comment.commented_by %}
                        <a href="{% url 'edit_comment' comment.id %}">
                            <button class="button-comment">Edit Comment</button>
                        </a>
                        <a href="{% url 'delete_comment' comment.id %}">
                            <button class="button-comment">Delete Comment</button>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        <a href="{% url 'review_comment' object.id %}">
            <button class="button">Add Comment</button>
        </a>
        {% if request.user.is_superuser or request.user.is_staff %}
            <div class="form_div">
                <form method="post">
                    {% csrf_token %}
                    {{ approval_button }}
                    <button class="button">Save</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
