{% extends 'base/base.html' %}

{% block content %}
    <div class="form_div">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Email:</label>
            {{ form.email }}
            <label>First Name:</label>
            {{ form.first_name }}
            <label>Last Name</label>
            {{ form.last_name }}
            <label>Profile Picture</label>
            {{ form.picture }}
            {{ form.errors }}
            <button>Save</button>
        </form>
    </div>
{% endblock %}