{% extends 'base/base.html' %}

{% block content %}
    <div class="form_div">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Username:</label>
            {{ form.username }}
            <label>First Name:</label>
            {{ form.first_name }}
            <label>Last Name</label>
            {{ form.last_name }}
            <label>Password:</label>
            {{ form.password1 }}
            <label>Confirm Password:</label>
            {{ form.password2 }}
            {{ form.errors }}
            <button>Save</button>
        </form>
    </div>
{% endblock %}